* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgb(20, 19, 19);
}
a:hover {
  transition: all 0.4s linear;
  color: white;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  font-size: 2rem;
}
.wrapeer {
  width: 100%;
}
header {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* z-index: 2; */
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fbeacc;
  box-shadow: -1px 15px 11px 2px rgba(0, 0, 0, 0.48);
}
.nav {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainContent {
  width: 100%;
  /* height: 100vh; */
  background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/vprojectold1-ning-0316_2.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=fa5b4e857d3703ab5058954e58f96315");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: black;
  opacity: 0.8;
  margin-top: 150px;
  z-index: 1;
  min-height: 650px;
}

.imgHolder {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 50px;
  align-items: center;
  margin-top: 80px;
  /* padding-top: 10px; */
  padding-bottom: 20px;
  border: 4px #fbeacc;
  z-index: -2;

  
}

.imgHolderV {
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    gap: 50px;
    align-items: center;
    margin-top: 80px;
    /* padding-top: 10px; */
    padding-top: 60px;
    padding-bottom: 20px;
    border: 4px #fbeacc;
    min-height: 650px;
  }

  .ContactUsDiv{
    min-height: 650px;
   display: flex;
   justify-content:center;
   align-items: center;
   color: white;
  
  }

  .ContactUsDiv > h1 {
    
    border: 4px #fbeacc;

  }

.div1 {
  align-items: center;
  width: 30%;
  /* border: 5px solid #E35154; */
  /* margin-top: 10px; */
  background: #fbeacc;
  line-height: 50px;
  /* margin: 5px; */
  text-align: center;
  border: 5px solid #e35154;
  border-radius: 30px;
  opacity: 1.5;

   transition: 1s;
  /* flex-direction: column; */
  /* height: 150px; */
}

#searchIng {
  margin: auto;
  display: flex;
  justify-content: center;
  font-size: 3rem;
  border-radius: 10px;
  text-align: center;
}
#searchIngDev {
  padding-top: 20px;
  /* size: 2rem; */
}

.div1 > img {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  width: 80%;
  cursor: pointer;
 
}

.div1:hover {
    transform: scale(1.1);
    
}

#addBtn {
  font-size: 4rem;
  border: 1px solid #fbeacc;
}
#hideNewBtn{

    font-size: 4rem;
  border: 1px solid #fbeacc;
  display: none;

}

.hideDiv {
    
  display: none;
  font-size: 1.5rem;


}
.hideDiv > input {
   
    display: flex;
    justify-content:space-between;
    align-items: center;
    
    padding-bottom: 5px;
}

#infoImg {
  width: 35%;
  height: 350px;
  border: 1px solid #fbeacc;
  border-radius: 20px;
  /* background-color:#fbeacc ; */
}

.infoDev {
    
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  transition: 1s;
}
.h1Info {
    
  display: inline;
  /* background-color: #fbeacc; */
  border: 1px solid #e35154;
  color: rgb(255, 255, 255);
  width: 80%;
  padding: 10px;
 
  text-align: justify;
  background-color: black;
border-radius: 10px;
  opacity: 0.8;
  
}
.infoPar {
  /* background-color: #fbeacc; */
  border: 1px solid #e35154;
  display: inline-block;
  color: rgb(255, 255, 255);
  width: 90%;
  font-size: 2.5rem;
  padding: 10px;
  text-align: justify;
  background-color: black;
border-radius: 10px;
  opacity: 0.8;
 
}


.extraImg {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
  gap: 50px;
  align-items: center;
  padding-bottom: 10px;
  
  
}

.extraImg > img {
    margin-top: 30px;
    margin-bottom: 20px;
  width: 30%;
  height: 300px;
  border: 3px solid #e35154;
  border-radius: 20px;
  transition: 1s;
}
.extraImg > img:hover{
    transform: scale(1.1);
    
}

#empty-fav{
text-align: center;
    margin: auto;
font-size: 3rem;
border: 3px solid #e35154;
background-color: #fbeacc;
color: black;
font-family: Arial, Helvetica, sans-serif;
border-radius: 30px;
padding: auto;
padding-left: 10px;
padding-right: 10px;
opacity: 0.9;
}

#twittpic{
     width: 70px;
     /* margin-bottom: 25px; */
     padding-bottom: 40px;
     margin-top: 10px;
}
#twitth1{
    display: inline;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 60px;
    color: black;
}

 

span{

display: flex;
padding-left: 10px;
padding-right: 10px;
flex-direction: column;
border: 4px solid #e35154;
border-radius: 20px;
background-color: #fbeacc;
opacity: 0.9;
}



      /*-------------------------------------------------IphoneX-------------------------------------------------------------*/

  @media only screen and (max-width: 375px) {

   
 
     ul{
         width: 100%;
       
     }
    li {
        display: inline-block;
        gap: 10px;
        font-size: 1.2rem;
      }

      .nav{

        width: 100%;
      }

      .div1{

        width: 100%;
      }

      li > img {
          width: 90px;
      }
      #twitth1{
          font-size: 50px;
      }
      .h1Info {
          display: inline-block;
          text-align: center;
          margin-left: 35px;
      }
      .infoDev {
          display: block;
      }

      #infoImg {
    margin-left: 35px;
        width: 80%;
      }

      .infoPar {

        /* display: inline-block; */
          text-align: center;
          margin-left: 18px;
      }

      .extraImg > img {

        width: 100%;
      }
      #addBtn {

        margin-top: 20px;
      }
      #hideNewBtn{

        margin-top: 20px;
      }


  }